body.login div#login h1 a {
	width:256px;
	height: 50px;
    background-size: 175px 50px;
    background-image: url("logo-wp.png");
}
body.login { background-color: #1c3948; }
body.login div#login {width: 400px !important; padding-top: 10%;}
body.login div#login p#nav a, body.login div#login p#backtoblog a{color:#ccc;}
body.login div#login p#nav a:hover, body.login div#login p#backtoblog a:hover{color:white;}
body.login #user_login:focus, body.login #user_pass:focus{ border-color: #1c3948; box-shadow: 0 0 0 1px #1c3948;}
body.login .dashicons{color: #1c3948;}
body.login #loginform{ border:none; border-radius: 10px;}
body.login #wp-submit{background: #1c3948; border:none;}